NEXT_PUBLIC_SOLANA_NETWORK=devnet
NEXT_PUBLIC_SOLANA_RPC_URL=https://api.devnet.solana.com

NEXT_PUBLIC_INFER_MINT=
NEXT_PUBLIC_INFER_TREASURY_OWNER=
NEXT_PUBLIC_INFER_TREASURY_TOKEN_ACCOUNT=

NEXT_PUBLIC_INFER_DECIMALS=6
NEXT_PUBLIC_FORECAST_COST=10

NEXT_PUBLIC_APP_URL=http://localhost:3000
